<!-- CONTENT -->
<div id="wrapper" style="background-color:white" class="resume-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="resume-name">
          <!-- User Name goes here-->
          {{#each user}}
          <h4><button id="pdf" href="/resume">{{this.name}}</button></h4>
          {{/each}}
          <hr class="resume-hr">
          <hr class="resume-hr">
        </div>
        <div id="resume-contact">
          <!-- User Address goes here-->
          {{#each user}}
          <p class="resume-text">{{this.address}}</p>
          <!-- User Contact Info goes here-->
          <p class="resume-text">{{this.phone}} | {{this.email}}</p>
          {{/each}}
        </div>
        <div id="resume-summary">
          <h5 class="resume-subheading">Professional Summary</h5>
          <hr class="resume-hr-2">
          <br>
          <textarea class="form-control" id="summary-text" rows="3" placeholder="Type your professional summary here..."></textarea>
          <!-- User Experience goes here-->
        </div>

        <div id="resume-experience">
          <h5 class="resume-subheading">Experience</h5>
          <hr class="resume-hr-2">
          {{#each experiences}}
          {{#if this.selected}}
          <p class="resume-text">{{this.name}}</p>
          <p class="resume-text">{{this.role}}</p>
          <p class="resume-text">{{this.startDate}}</p>
          <p class="resume-text">{{this.endDate}}</p>
          <p class="resume-text">{{this.description}}</p>
          {{/if}}
          {{/each}}
          <!-- User Education goes here-->
        </div>
        <div id="resume-education">
          <h5 class="resume-subheading">Education</h5>
          <hr class="resume-hr-2">
          {{#each education}}
          {{#if this.selected}}
          <p class="resume-text">{{this.school}}</p>
          <p class="resume-text">{{this.endDate}}</p>
          <p class="resume-text">{{this.degree}}</p>
          {{/if}}
          {{/each}}
          <!-- User References goes here-->
        </div>
        <div id="resume-reference">
          <h5 class="resume-subheading">References</h5>
          <hr class="resume-hr-2">
          {{#each references}}
          {{#if this.selected}}
          <p class="resume-text">{{this.name}}</p>
          <p class="resume-text">{{this.phone}}</p>
          <p class="resume-text">{{this.relationship}}</p>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</div>
<!-- CONTENT -->
