<!-- CONTENT -->
<div id="wrapper" style="background-color:white" class="resume-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div id="resume-name">
          <!-- User Name goes here-->
          <!-- I put "John Doe" as an example -->
          <h4><button id="pdf" href="/resume">John Doe</button></h4>
          <hr class="resume-hr">
          <hr class="resume-hr">
        </div>
        <div id="resume-contact">
          <!-- User Address goes here-->
          <!-- I put sample address as an example -->
          <p class="resume-text">1234 Any St. Anywhere, USA 11111</p>
          <!-- User Contact Info goes here-->
          <!-- I put sample contact as an example -->
          <p class="resume-text">555-555-5555 | test@email.com</p>
        </div>
        <div id="resume-summary">
          <h5 class="resume-subheading">Professional Summary</h5>
          <hr class="resume-hr-2">
          <br>
          <textarea class="form-control" id="summary-text" rows="3" placeholder="Type your professional summary here..."></textarea>
          <!-- User skills goes here-->
        </div>
        <div id="resume-skills">
          <h5 class="resume-subheading">Skills</h5>
          <hr class="resume-hr-2">
          <p class="resume-text">User skills will go here</p>
          <!-- User skills goes here-->
        </div>
        <div id="resume-experience">
          <h5 class="resume-subheading">Experience</h5>
          <hr class="resume-hr-2">
          {{#each experiences}}
          {{#if this.selected}}
          <p class="resume-text">{{this.name}}</p>
          {{/if}}
          {{/each}}
          {{#each experiences}}
          {{#if this.selected}}
          <p class="resume-text">{{this.role}}</p>
          {{/if}}
          {{/each}}
          {{#each experiences}}
          {{#if this.selected}}
          <p class="resume-text">{{this.startDate}}</p>
          {{/if}}
          {{/each}}
          {{#each experiences}}
          {{#if this.selected}}
          <p class="resume-text">{{this.endDate}}</p>
          {{/if}}
          {{/each}}
          {{#each experiences}}
          {{#if this.selected}}
          <p class="resume-text">{{this.description}}</p>
          {{/if}}
          {{/each}}
          <!-- User skills goes here-->
        </div>
        <div id="resume-education">
          <h5 class="resume-subheading">Education</h5>
          <hr class="resume-hr-2">
          {{#each education}}
          {{#if this.selected}}
          <p class="resume-text">{{this.school}}</p>
          {{/if}}
          {{/each}}
          {{#each education}}
          {{#if this.selected}}
          <p class="resume-text">{{this.endDate}}</p>
          {{/if}}
          {{/each}}
          {{#each education}}
          {{#if this.selected}}
          <p class="resume-text">{{this.degree}}</p>
          {{/if}}
          {{/each}}
          <!-- User skills goes here-->
        </div> 
        <div id="resume-reference">
          <h5 class="resume-subheading">References</h5>
          <hr class="resume-hr-2">
          {{#each reference}}
          {{#if this.selected}}
          <p class="resume-text">{{this.school}}</p>
          {{/if}}
          {{/each}}
          {{#each reference}}
          {{#if this.selected}}
          <p class="resume-text">{{this.endDate}}</p>
          {{/if}}
          {{/each}}
          {{#each reference}}
          {{#if this.selected}}
          <p class="resume-text">{{this.degree}}</p>
          {{/if}}
          {{/each}}
          <!-- User ref goes here-->
        </div> 
      </div>
    </div>
  </div>
</div>
<!-- CONTENT -->
